ul{
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333333;
}

ul li {
float: left;
}

ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px ;
    text-decoration:none ;
    
}

#menuToggle{
    display:none;
    cursor: pointer;
}
ul li a:hover{
    background-color: aquamarine;
}
/*Responsiv*/
@media (max-width:640px){
    #menuToggle{
        display:block;
        float:right;
        text-align:top;
    }
    /* hide default link*/
    .menu{
        display:none;
        width:100%
    }
    ul li {
        float: none;
        text-align: right;
        }
    ul li a{
        padding: 12px 16px;
    }
    ul {
        position: relative;
    }
    }
